* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* this is nav section */
.nav {
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
padding: 5px 20px;
background-color: beige;
}
.navlogo img{
    border-radius: 10px;
    width: 180px;
    padding: 10px 20px;
}

.navelements ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
.navelements ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navbutton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.navbutton button{
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
/* This is hero section */
.herosection {
    display: flex;
    background-color: beige;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    gap: 30px;
}

.herodescription{
    max-width: 480px;
}
.herodescription h2{
    padding: 20px;
    font-size: 30px;
}
.herodescription p{
    padding: 20px;
    font-size: 25px;
}

.herobutton{
  background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer; 
    margin-top: 20px;
   padding: 15px;
}

.heroimage{
    display: flex;
    align-content: center;
    justify-items: center;
   padding: 10px 20px;
}
.heroimage img{
    border-radius: 30px;
    width: 350px;
}

/* this is project section*/
.projectsection{
    background-color: beige;
    gap: 20px;
    padding: 20px;
}
.projectwork{
    display: flex;
    background-color: none;
    justify-content: space-between;
    margin: 50px 30px;
    padding: 20px;
    font-style: italic;
    gap: 30px; 
}
.projectwork h3{
    font-size: 30px;
    color: rgba(162, 83, 236, 0.826);
}

.clients{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    font-style: normal;
    font-size: 18px;
}

.projects{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 50px 10%;
}
.projects img{
    display: block;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    gap: 30px;
    width: 320px;
    height: 300px;
    border-radius: 10px;
}
.projects h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.projects p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.partners{
    display: flex;
    background-color: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.experiences {
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
      
}  
.partnerbutton{
  background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer; 
    margin-top: 20px;
    padding: 20px;
}
.partnerimage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}
/*this is portfolio section*/
.myportfolio{
    display: block;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}
.portfolio{
  display: block;
    justify-content: center;
    align-content: center;
    padding: 20px;
    
}
.portfolio h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;  
}
.portfolio p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;  
}

.portfoliobuttons{
    display: flex;
    background-color: white;
    color: black;
    border: grey;
    outline: none; 
    cursor: pointer; 
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
    
}
.portfolioimages{
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.portfolioimages img{
    
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    gap: 30px;
    width: 290px;
    height: 250px;
    border-radius: 15px;
}
.portfolioimages h4{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
.portfolioimages p{
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
.portfolioimages2{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
}
.portfolioimages2 h4{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
.portfolioimages2 p{
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
.portfolioimages2 img{
   align-items: center;
   justify-content: center;
    width: 290px;
    height: 250px;
    
}
.portfoliobutton{
  background-color: black;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer; 
    margin-top: 15px;
   padding: 15px;
}

.clientfeedback{
    background-color: beige;
    display: block;
    
}
.feedback{
    display: block;
    padding: 40px;
    gap: 30px;
}
.feedback h4{
font-size: 20px;
align-items: center;
justify-content: center;

}
.feedback p{
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
.clientmessages{
   display: flex;
   gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
}
.clientmessages p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.clientmessages h5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}
.information{
    background-color: beige;
    padding: 30px;
   gap: 30px;
   align-items: center;
   justify-content: center;
}
.name{
 font-size: 16px;
   display: flex;
   gap: 30px;
    flex-direction: column;
    background: beige;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contact{
font-size: 18px;
   display: flex;
   flex-direction: column;
   gap: 20px;
    background: beige;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.links{
font-size: 20px;
   display: block;
   gap: 10px;
    background: beige;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.links p a{
    list-style: none;
    display: block;
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 20px;
    
}
.copyright{ 
    align-items: center;
    justify-content: right;
    font-size: 13px; 
}







/*media querry*/
@media (max-width: 768px) {
    .navelements {
    
        display: none;
        
    }
    .navlogo img{
        width: 150px;
    }
    .herosection{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }
    .herodescription{

         display: flex;
        flex-direction: column;
    
        align-items: center;
        justify-content: center;
    }
    .heroimage img{
        width: 90%;
    }
    .herodescription h2{
        font-size: 28px;
    }
    projects {
        flex-direction: column;
    }

    .clients {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    .projects{
        
        flex-direction: column;
       

    }
    .partners {
        flex-direction: column;
        text-align: center;
    }

    .partnerimage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .portfolioimages,
    .portfolioimages2 {
        flex-direction: column;
        text-align: center;
    }

    .portfoliobuttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .clientmessages {
        flex-direction: column;
    }
     .information > div:first-child {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }


    
}