* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* this is nav section */
.nav {
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
padding: 5px 20px;
background-color: beige;
}

.navelements ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
.navelements ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navbutton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.navbutton button{
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
/* This is hero section */
.herosection {
    display: flex;
    background-color: beige;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    gap: 30px;
}

.herodescription{
    max-width: 480px;
}
.herodescription h2{
    padding: 20px;
    font-size: 35px;
}
.herobutton{
  background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer; 
    margin-top: 20px;
    padding: 20px;
}

.heroimage{
    display: flex;
    align-content: center;
    justify-items: center;
    padding: 70px;
}
.heroimage img{
    border-radius: 30px;
    width: 520px;
}
/* this is project section*/
.projectsection{
    background-color: beige;
    gap: 20px;
    padding: 20px;
}
.projectwork{
    display: flex;
    background-color: none;
    justify-content: space-between;
    margin: 50px 30px;
    padding: 20px;
    font-style: italic;
    gap: 30px; 
}
.projectwork h3{
    font-size: 30px;
    color: rgba(162, 83, 236, 0.826);
}

.clients{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    font-style: normal;
    font-size: 18px;
}

.projects{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.projects img{
    display: block;
    justify-content: space-evenly;
    padding-top: 20px;
    align-items: center;
    gap: 30px;
    width: 480px;
    height: 350px;
    border-radius: 15px;
}
.projects h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners{
    display: flex;
    background-color: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.partners h3{
    padding:20px;
    font-size: 40px;
    width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.partners p{
    padding:20px;
    font-size: 20px;
      
}  
.partnerbutton{
  background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer; 
    margin-top: 20px;
    padding: 20px;
}
.partnerimage{
    display: flex;
    gap: 20px;
}
.partnerimage img{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 300px;
    height: auto;
    flex-direction: column;
    border-radius: 10px;
   
}
/*this is portfolio section*/
.myportfolio{
    display: block;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}
.portfolio{
  display: block;
    justify-content: center;
    align-content: center;
    padding: 20px;
    
}
.portfolio h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;  
}
.portfolio p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;  
}

.portfoliobuttons{
    display: flex;
    background-color: white;
    color: black;
    border: grey;
    outline: none; 
    cursor: pointer; 
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
    
}
.portfolioimages{
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.portfolioimages img{
    
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    gap: 30px;
    width: 480px;
    height: 350px;
    border-radius: 15px;
}
.portfolioimages2{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.portfolioimages2 img{
   
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    gap: 30px;
    width: 480px;
    height: 350px;
    border-radius: 15px;
}
.portfoliobutton{
  background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer; 
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}
.clientfeedback{
    background-color: beige;
    display: block;
}
.feedback{
    display: block;
    padding: 40px;
    gap: 30px;
}
.feedback h4{
font-size: 30px;
align-items: center;
justify-content: center;

}
.feedback p{
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.clientmessages{
    padding: 30px;
   font-size: 20px;
   display: flex;
   gap: 30px;
    
}
.John{
     font-size: 25px;
   display: block;
   gap: 30px;
    border: 10px;
    width: 300px;
    background: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.Hassan{
     font-size: 25px;
   display: block;
   gap: 30px;
    border: 20px;
    width: 300px;
    background: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.Mc{
     font-size: 25px;
   display: block;
   gap: 30px;
    border: 10px;
    width: 300px;
    background: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.information{
    padding: 30px;
   font-size: 20px;
   display: block;
   gap: 30px;
   align-items: center;
   justify-content: center;
}
.name{
 font-size: 25px;
   display: block;
   gap: 30px;
    border: 10px;
    width: 300px;
    background: beige;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contact{
font-size: 25px;
   display: block;
   gap: 30px;
    border: 10px;
    width: 300px;
    background: beige;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.links{
font-size: 25px;
   display: block;
   gap: 30px;
    border: 10px;
    width: 300px;
    background: beige;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.links p a{
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 20px;
    
}
.copyright{
    display: flex;
    padding-top: 20px;
    font-size: 20px;
    gap: 30px;
    margin-top: 20px;
}